{:itonami.blueprint/id "cloud-itonami-isic-900"
 :itonami.blueprint/name "Creative Arts and Entertainment Venue Operations Coordination"
 :itonami.blueprint/isic-rev4 "900"
 :itonami.blueprint/domain :services/performing-arts-venue-coordination
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:operational-efficiency :facility-safety :administrative-transparency]
 :itonami.blueprint/governor :venueadminops-governor
 :itonami.blueprint/robotics false
 :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented}
