{:paths ["src" "test"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}}

 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-e" "(require 'clojure.test) (require 'venueadminops.core-test) (clojure.test/run-tests 'venueadminops.core-test)"]}

  :lint {:main-opts ["-e" "(println \"Linting would require clj-kondo; skipping for now\")"]}

  :run {:main-opts ["-m" "venueadminops.sim"]}

  :nbb {:deps {applied-science/js {:git/url "https://github.com/applied-science/js.git"
                                   :git/sha "9d5a9e8b5d4e"
                                   :git/tag "v0.2.6"}}}}}
