{:kotoba.app/id "cloud.itonami.isic-900", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifmlfgjsde6maf726btg7iwdc52yhhct5xrcoacemsid4ovbe4wd4", :kotoba.app/embed-url "ipfs://bafkreifmlfgjsde6maf726btg7iwdc52yhhct5xrcoacemsid4ovbe4wd4", :published {:archive "https://kotobase.net/ipfs/bafkreifmlfgjsde6maf726btg7iwdc52yhhct5xrcoacemsid4ovbe4wd4", :size 71706, :put-status 201, :get-status 200, :at "2026-08-15T13:46:43.092Z"}}
